main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
}

.create-post-container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 100%;
    max-width: 720px;
    padding: 20px;
    border: 1px solid #934242;
    background-color: #C4C4C41A;
    gap: 1rem;
    box-shadow: 0 2px 4px #93424280;
}


.create-post-container form{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap: 1rem;
    width: 80%;
}

.create-post-container form input{
    padding: 10px;
    border: 1px solid #934242;
    box-shadow: 0 2px 4px #93424280;
    width: 100%;
}

.create-post-container form textarea{
    padding: 10px;
    border: 1px solid #934242;
    box-shadow: 0 2px 4px #93424280;
    width: 100%;
    height: 250px;
    resize: none;
}

#char-count{
    align-self: flex-end;
    margin-right: 10px;
    color: #934242;
    font-size: 0.8rem;
}

.create-post-container form button{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #934242;
    box-shadow: 0 2px 4px #93424280;
    background-color: #93424226;
    font-weight: 600;
    cursor: pointer;
    width: 125px;
    align-self: center;
}